@use '../../variables' as *;

/**
* ! Archive Main Style !
*a
* ? Shared ?
*/
.main-archives-title {
  position: relative;
  max-width: $space-1000;
  width: $space-90vw;
  margin: 0 auto;
}

.prev-button {
  position: relative;
  top: $space-160;
  left: $space-10vw;
  z-index: 10;
}

.main-slider-section {
  position: relative;
  margin-top: $space-200;
  margin-bottom: $space-100;
  .flicking-arrow-prev,
  .flicking-arrow-next {
    width: $space-64;
    height: $space-64;
    background-color: unset !important;
    background-repeat: no-repeat;
    background-position: center;
    &::before,
    &::after {
      display: none;
    }
  }
  .flicking-arrow-prev {
    background-image: url('https://api.dewdew.dev/storage/v1/object/public/assets/icon/left_arrow.svg');
  }
  .flicking-arrow-next {
    background-image: url('https://api.dewdew.dev/storage/v1/object/public/assets/icon/right_arrow.svg');
  }
  .flicking-pagination {
    position: relative;
    margin-top: $space-60;
    .flicking-pagination-bullet {
      background-color: var(--d-bg-yellow-color) !important;
    }
    .flicking-pagination-bullet-active {
      background-color: var(--d-bg-green-color-deep) !important;
    }
  }
  .image-component {
    cursor: pointer;
    .thumbnail {
      width: calc($space-400 + $space-60);
      height: $space-400;
      object-fit: cover;
      border-radius: $space-36;
    }
    .text-group {
      position: relative;
      bottom: $space-100;
      right: calc($space-10vw - $space-100);
      .title {
        color: $d-bg-color-00;
        margin: unset;
        align-self: flex-end;
      }
      .subtitle {
        color: $d-bg-color-00;
        margin: unset;
        align-self: flex-end;
      }
    }
    &:hover {
      .text-group {
        .title,
        .subtitle {
          color: var(--d-red-color);
          transition: color .3s;
        }
      }
    }
  }
}