@use '../../variables' as *;

/**
* ! Content Container Style !
* *  Common *
*/
.content-container {
  max-width: $space-1000;
  width: $space-90vw;
  min-height: $space-80vh;
  margin: 0 auto;
  padding: $space-160 $space-20;

  .time {
    @include headline5;
    color : var(--d-red-color);
  }
  h1 {
    @include headline1;
    padding: $space-20 $space-10;
  }
  li, p, span {
    line-height: 1.6;
  }
  a {
    text-decoration: none;
    color: unset;
  }

  .menu-list {
    margin-top: $space-20;
    h3 {
      @include headline4;
      margin-bottom: $space-8;
    }
    h4 {
      @include headline5;
      color: var(--d-yellow-color);
      transition: color 0.2s ease-in-out;
      &:hover, &:active {
        color: var(--d-yellow-color-deep);
      }
    }
    ul {
      margin: $space-8 $space-16;
      li {
        list-style-type: circle;
        h3 {
          @include headline5;
          color: var(--d-yellow-color);
          transition: color 0.2s ease-in-out;
          &:hover, &:active {
            color: var(--d-yellow-color-deep);
          }
        }
      }
    }
  }

  .content-navigation {
    width: fit-content;
    .navigation-title {
      @include headline5;
      color: var(--d-blue-color);
    }
    .navigation-link {
      width: max-content;
      @include headline6;
      color: var(--d-text-color);
      transition: color 0.2s ease-in-out;
      &:hover, &:active {
        color: var(--d-text-color-deep);
      }
    }
  }

  .content-card {
    padding: $space-10 0;
    h2 {
      @include headline3;
      padding: $space-10 0;
      color: var(--d-red-color-deep);
    }
    h4 {
      @include headline4;
      padding: $space-10 0;
      color: var(--d-blue-color-deep);
    }
    p {
      padding: $space-16 0;
      @include headline6;
      strong {
        font-weight: 900;
        color: var(--d-text-color-deep);
      }
    }
    ol {
      padding: $space-10 0 $space-10 $space-30;
      margin: unset;
      list-style-type: numeric;
    }
    blockquote {
      margin: unset;
      padding: $space-4 0 $space-4 $space-10;
      color: var(--d-text-color-deep);
      &::before {
        display: block;
        position: absolute;
        @include headline3;
        content: "\201C";
      }
      p {
        padding: $space-20 0 0 $space-24;
        font-size: $space-16;
        line-height: 1;
        font-weight: 400;
      }
    }
    img {
      padding: $space-20 0;
      width: $space-percent-100;
      pointer-events: none;
    }
    ul {
      margin: $space-8 $space-16;
      li {
        list-style-type: circle;
      }
    }
    code {
      padding: $space-4;
      border-radius: $space-6;
      background-color: var(--d-color-04);
      box-decoration-break: clone;
      font-size: calc($space-12 + $space-2);
    }
    hr {
      margin-top: $space-20;
    }
    pre {
      background-color: var(--el-bg-color);
      color: var(--el-color-white);
      font-family: HackRegular, JetBrainsMono, monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      overflow: clip;
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
      .hljs-comment,
      .hljs-quote {
        color: var(--el-color-white);
      }
      .hljs-variable,
      .hljs-template-variable,
      .hljs-attribute,
      .hljs-tag,
      .hljs-name,
      .hljs-regexp,
      .hljs-link,
      .hljs-selector-id,
      .hljs-selector-class {
        color: var(--el-color-white);
      }
      .hljs-number,
      .hljs-meta,
      .hljs-built_in,
      .hljs-builtin-name,
      .hljs-literal,
      .hljs-type,
      .hljs-params {
        color: var(--el-color-white);
      }
      .hljs-string,
      .hljs-symbol,
      .hljs-bullet {
        color: var(--el-color-white);
      }
      .hljs-title,
      .hljs-section {
        color: var(--el-color-white);
      }
      .hljs-keyword,
      .hljs-selector-tag {
        color: var(--el-color-white);
      }
      .hljs-emphasis {
        font-style: italic;
      }
      .hljs-strong {
        font-weight: 700;
      }
    }
  }

  .content-table {
    table {
      border-collapse: collapse;
      table-layout: fixed;
      margin: 0 0 $space-20 $space-30;
      overflow: clip;
      td,
      th {
        min-width: $space-100;
        border: $space-1 solid var(--el-border-color);
        padding: $space-2 $space-6;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;
        > * {
          margin-bottom: 0;
        }
      }
      th {
        font-weight: bold;
        text-align: left;
        text-align-last: center;
        color: var(--el-text-color-primary);
        background-color: var(--el-border-color);
      }
      p {
        margin: 0;
      }
    }
  }
}