@use '../../variables' as *;

/**
* ! Header Style !
* *  Shared *
*/
.header {
  position: fixed;
  width: $space-100vw;
  align-items: center;
  background-color: var(--d-header-bg-color);
  filter: alpha(opacity=30);
  z-index: 11;
  .header-container {
    width: $space-1000;
    .logo {
      margin: $space-10 $space-20;
      min-width: $space-100;
      height: auto;
    }
    .desktop-menu-links {
      @include headline4;
      text-decoration: none;
    }
    .desktop-menu-links,
    .sns {
      cursor: pointer;
      transition: all .1s ease-in-out;
      &:hover {
        scale: 1.05;
      }
    }
  }
  .forecast {
    position: fixed;
    top: $space-100;
    left: $space-20;
    height: $space-40;
    .weather-pannel {
      height: $space-40;
      width: $space-percent-100;
      span {
        @include headline6;
      }
    }
  }
}

.mobile-menu {
  .mobile-logo {
    cursor: pointer;
  }
  .mobile-menu-links {
    @include headline5;
    text-decoration: none;
    transition: all .1s ease-in-out;
    cursor: pointer;
    &:hover {
      scale: 1.05;
    }
  }
  .sns {
    cursor: pointer;
    transition: all .1s ease-in-out;
    span {
      @include headline5;
    }
    &:hover {
      scale: 1.05;
    }
  }
  .forecast {
    width: fit-content;
    height: $space-40;
    .weather-pannel {
      height: $space-40;
      width: $space-percent-100;
    }
  }
}