@use '../../variables' as *;

/**
* ! Header Style !
* *  Shared *
*/
.header {
  position: fixed;
  width: $space-100vw;
  align-items: center;
  background-color: var(--d-header-bg-color);
  filter: alpha(opacity=30);
  z-index: 10;
  .header-container {
    width: $space-1000;
    .logo {
      margin: $space-10 $space-20;
      width: $space-160;
      height: auto;
    }
    .desktop-menu {
      .menu-links {
        @include headline4;
        color: var(--d-text-dark-color);
        text-decoration: none;
        transition: all .1s ease-in-out;
        cursor: pointer;
        &:hover {
          scale: 1.1;
          color: var(--d-text-dark-color-deep);
        }
        &:hover, &:focus {
          cursor: pointer;
        }
      }
    }
    .github {
      padding: $space-2 0;
      cursor: pointer;
      width: $space-30;
      height: auto;
    }
  }
}

.mobile-menu {
  .mobile-logo {
    cursor: pointer;
  }
  .mobile-menu-links {
    @include headline4;
    text-decoration: none;
    transition: all .1s ease-in-out;
    cursor: pointer;
    &:hover {
      scale: 1.1;
    }
    &:hover, &:focus {
      cursor: pointer;
    }
  }
  .github {
    padding: $space-20;
    &:hover, &:focus {
      cursor: pointer;
    }
  }
}