@use '../../variables' as *;

/**
* ! Main Contact Style !
* *  Shared *
*/
.main-contact {
  position: relative;
  max-width: $space-1200;
  width: $space-90vw;
  height: fit-content;
  margin: $space-200 auto $space-200;
  transition: opacity .9s;
  opacity: 0;
  .contact-title {
    @include headline1;
  }
  .contact-lists {
    .social {
      width: $space-percent-50;
      .title {
        @include headline3;
        color: var(--d-green-color);
      }
      .kakao-button,
      .linkedin-button,
      .instagram-button {
        width: $space-percent-80;
      }
    }
    .email {
      .email-title {
        @include headline3;
        color: var(--d-blue-color);
      }
    }
  }
  &.activate {
    opacity: 1;
  }
}
