@use '../../variables' as *;

/**
* ! Main Resume Style !
* *  Shared *
*/
.main-resume {
  position: relative;
  max-width: $space-1200;
  width: $space-90vw;
  height: fit-content;
  transition: opacity .9s;
  opacity: 0;
  .resume-container {
    width: $space-percent-100;
    height: auto;
    border-radius: $space-30;
    background: linear-gradient(220deg, rgba($d-color-03-dark-deep, 0.3), rgba($d-color-01-light-deep, 0.3));
    .resume-image {
      text-align: center;
      perspective: $space-300;
      border-radius: $space-percent-50;
      cursor: pointer;
      transition: transform .2s;
      &.reverse {
        transform-style: preserve-3d;
        transform: rotateY(180deg);
      }
    }
  }
}