@use '../../variables' as *;

/**
* ! Tiptap Style !
*a
* ? Shared ?
*/
.tiptap-editor {
  display: flex;
  flex-direction: column;
  max-height: 40rem;
  width: $space-percent-100;
  &__header {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    flex-wrap: wrap;
    padding: 0.25rem;
  }
  &__content {
    height: $space-60vh;
    padding: 0 1rem;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.floating-menu {
  margin-bottom: $space-80;
}

.bubble-menu,
.floating-menu {
  display: flex;
  width: fit-content;
  background-color: var(--d-bg-white-color);
  padding: 0.2rem;
  border-radius: 0.5rem;
  .edit-color-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: $space-24;
    height: $space-24;
    margin: 0 $space-4;
    padding: 0;
    background-color: transparent;
    border: $space-2 solid var(--el-border-color);
    border-radius: $space-4;
    cursor: pointer;
    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    &::-webkit-color-swatch {
      padding: 0;
      border: 0;
      border-radius: 0;
    }
    &::-moz-color-swatch {
      padding: 0;
      border: 0;
      border-radius: 0;
    }
  }
}

.tiptap-menu-item {
  width: $space-40;
  height: $space-30;
  margin: 0.15rem 0.15rem 0.15rem 0;
}

.tiptap-text-menu-item {
  margin: 0.15rem 0.15rem 0.15rem 0;
}

.first-tiptap-menu-item {
  width: $space-40;
  height: $space-30;
  margin: 0.15rem 0.15rem 0.15rem $space-12;
}

.ProseMirror {
  width: $space-percent-100;
  height: fit-content;
  margin-top: $space-30;
  padding: $space-50 0 $space-8 $space-4;
  > * + * {
    margin-top: 0.75em;
  }
  @include tiptap-template;
}

.has-focus {
  width: $space-percent-100;
  border-radius: $space-2;
}

img.has-focus {
  width: $space-percent-80;
  padding: $space-20 $space-10
}

th.has-focus {
  width: unset;
}

.character-count {
  padding: $space-10;
  span {
    margin: $space-4;
    line-height: 1.2;
    text-align: right;
    color: var(--d-text-dark-color-deep);
    align-self: flex-end;
  }
}


/**
* ?  Tiptap Menu Popper Style ?
*/
.edit-color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: $space-30;
  height: $space-30;
  margin: 0.15rem 0 0 $space-4;
  padding: 0;
  border: 1px solid var(--el-border-color);
  background-color: transparent;
  border-radius: $space-4;
  cursor: pointer;
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    padding: 0;
    border: 0;
    border-radius: 0;
  }
  &::-moz-color-swatch {
    padding: 0;
    border: 0;
    border-radius: 0;
  }
}

.save-icon {
  width: $space-60;
  height: $space-60;
  padding: $space-4;
  cursor: pointer;
}