@use '../../variables' as *;

/**
* ! Color Translate Page Style !
*a
* ? Mobile ?
*/
.color-translate {
  flex-direction: column;
  height: fit-content;
  .eye-dropper {
    margin-top: $space-80;
  }
  .color-translate-form {
    width: $space-80vw;
    margin: $space-80 0;
  }
  .upload-drag-files {
    width: $space-80vw;
    .image-preview {
      width: $space-percent-80;
      height: $space-160;
    }
    .el-icon--upload {
      width: $space-percent-100;
      .el-upload__text {
        display: flex;
        flex-direction: column;
        width: $space-percent-90;
      }
    }
  }
}