@use '../../variables' as *;

/**
* ! Tech Blog List Page Style !
*a
* ? Mobile ?
*/
.tech-lists {
  .write-button-container {
    margin-left: unset;
  }
  .tech-card {
  padding-left: unset;
    .card-card-title {
      flex-direction: column;
      align-items: flex-start;
    }
    .card-sub-head {
      width: $space-percent-100;
    }
  }
}
