@use '../../variables' as *;

/**
* ! Archive Main Style !
*a
* ? Tablet ?
*/
.main-archives-title {
  top: $space-100;
  left: $space-40;
  @include headline2;
}

.main-slider-section {
  .image-component {
    .text-group {
      right: calc($space-10vw);
      .title {
        @include headline4;
        text-align: right;
      }
      .subtitle {
        @include headline4;
        text-align: right;
      }
    }
  }
}