@use '../../variables' as *;

/**
* ! Main Portfolio Style !
* *  Tablet *
*/
.main-portfolio {
  .section-text-group {
    margin: $space-10 0 $space-10;
  }
  .portfolio-list {
    margin: 0 $space-10;
    .portfolio-item {
      .portfolio-thumb {
        width: calc($space-200 - $space-20);
        height: calc($space-200 - $space-20);
      }
      .portfolio-text {
        @include headline6;
      }
    }
  }
}