/**
* ? Styles Forward Lists ?
*/
@forward 'basic/size_list';
@forward 'basic/color_list';
@forward 'basic/font_variables';

/**
* ? Foundation Lists ?
*/
@use 'basic/size_list' as *;
@use 'basic/color_list' as *;
@use 'basic/font_variables' as *;

/**
* * Mixins Style *
*/
.activate {
  opacity: 1 !important;
}
@mixin skills {
  position: absolute;
  width: $space-100;
  opacity: var(--d-bg-opacity-01);
}

/**
* ? Text Editor (Tiptap) Mixins ?
*/
@mixin tiptap-template {
  a {
    text-decoration: none;
    color: var(--d-yellow-color-deep);
    &:hover {
      text-decoration: underline;
      color: var(--d-yellow-color);
    }
  }
  p {
    line-height: 1.7rem;
  }
  ul, ol {
    padding: 0 1rem;
  }
  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
    p {
      margin: 0;
    }
    li {
      display: flex;
      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }
      > div {
        flex: 1 1 auto;
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
  code {
    font-size: 0.9rem;
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: var(--d-bg-green-color-deep);
    box-decoration-break: clone;
  }
  pre {
    background-color: var(--d-yellow-color);
    font-family: JetBrainsMono, monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
    .hljs-comment,
    .hljs-quote {
      color: var(--el-color-white);
    }
    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-selector-id,
    .hljs-selector-class {
      color: var(--el-color-white);
    }
    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: var(--el-color-white);
    }
    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: var(--el-color-white);
    }
    .hljs-title,
    .hljs-section {
      color: var(--el-color-white);
    }
    .hljs-keyword,
    .hljs-selector-tag {
      color: var(--el-color-white);
    }
    .hljs-emphasis {
      font-style: italic;
    }
    .hljs-strong {
      font-weight: 700;
    }
  }
  img {
    max-width: $space-percent-80;
    height: auto;
  }
  blockquote {
    margin: 0 $space-10;
    padding-left: $space-16;
    border-left: $space-8 solid black;
  }
  hr {
    border: none;
    border-top: $space-2 solid black;
    margin: 2rem 0;
  }
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: $space-percent-50;
    margin: 0;
    overflow: hidden;
    td,
    th {
      min-width: 1em;
      border: $space-2 solid black;
      padding: $space-2 $space-4;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;
      > * {
        margin-bottom: 0;
      }
    }
    th {
      font-weight: bold;
      text-align: left;
      background-color: oldlace;
    }
    .selectedCell::after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: var(--el-menu-hover-border-color);
      pointer-events: none;
    }
    .column-resize-handle {
      position: absolute;
      right: -$space-2;
      top: 0;
      bottom: -$space-2;
      width: $space-4;
      background-color: var(--el-menu-active-color);
      pointer-events: none;
    }
    p {
      margin: 0;
    }
  }
  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--el-info-color);
    pointer-events: none;
    height: 0;
  }
  iframe {
    border: $space-4 solid black;
    border-radius: $space-4;
    min-width: $space-160;
    min-height: $space-160;
    display: block;
    outline: $space-2 solid transparent;
  }
  div[data-youtube-video] {
    cursor: move;
  }
  .ProseMirror-selectednode iframe {
    transition: outline 0.15s;
    outline: $space-2 solid var(--el-border-color);
  }
}
