@use '../../variables' as *;

/**
* ! Main Resume Style !
* *  Mobile *
*/
.main-resume {
  margin: $space-200 auto $space-200;
  .resume-container {
    flex-direction: column;
    align-items: center;
    padding: $space-20 0;
    .resume-image {
      width: $space-80vw;
      height: auto;
      border-radius: $space-percent-50;
      margin: $space-20 auto;
    }
    .resume-title {
      @include headline3;
    }
    .accordion {
      padding: $space-20;
      .educate-group,
      .career-group {
        .icon {
          width: $space-20;
          height: $space-20;
          color: var(--d-text-color);
        }
        .text {
          @include headline6;
        }
      }
      .career-group {
        margin-top: $space-8;
      }
    }
  }
}