@use '../../basic/size_list' as *;

/**
* ! Main Contact Style !
* *  Mobile *
*/
.main-contact {
  .contact-lists {
    flex-direction: column;
    align-items: center;
    width: $space-percent-100;
    .social {
      width: $space-90vw;
      margin-bottom: $space-30;
      span {
        font-size: $space-12;
      }
    }
    .email {
      width: $space-90vw;
      margin-top: $space-40;
      .email-form {
        width: $space-90vw;
      }
    }
  }
}