@use '../../variables' as *;

/**
* ! Main Portfolio Style !
* *  Mobile *
*/
.main-portfolio {
  .section-text {
    margin: $space-10 0 $space-10;
  }
  .portfolio-list {
    margin: 0 $space-10;
    .portfolio-item {
      .portfolio-thumb {
        width: $space-80vw;
        height: $space-80vw;
      }
      .portfolio-text {
        margin-top: $space-10;
        @include headline5;
      }
    }
  }
}