@use '../../variables' as *;

/**
* ! Main Portfolio Style !
* *  Mobile *
*/
.main-portfolio {
  .section-text-group {
    width: $space-percent-100;
    flex-direction: column;
    margin: $space-10 0 $space-10;
    border-bottom: none;
    .move-portfolio {
      align-self: flex-end;
    }
  }
  .section-bg-text {
    line-height: $space-160;
  }
  .portfolio-list {
    margin: 0 $space-10;
    .portfolio-item {
      .portfolio-thumb {
        width: $space-80vw;
        height: $space-80vw;
      }
      .portfolio-text {
        margin-top: $space-10;
        @include headline5;
      }
    }
  }
}