@use '../../variables' as *;

/**
* ! Main Skills Style !
* *  Mobile *
*/
.main-skills {
  .skills-descriptions {
    width: fit-content;
    padding-top: $space-40;
    .skills-title {
      padding-right: $space-20;
      @include headline4;
      text-align: right;
    }
    .skills-text {
      padding-right: $space-20;
      @include headline6;
        text-align: right;
    }
    .skills-title-box {
      top: $space-minus-50;
      left: $space-minus-100;
      width: $space-600;
      height: $space-600;
      &.reverse {
        left: $space-minus-100;
      }
    }
  }
  .skill-list {
    flex-direction: column;
    width: $space-percent-100;
    .main-skill-list {
      flex-direction: column;
      width: $space-percent-100;
    }
    .skills-text {
      width: $space-160;
      @include headline6;
    }
    .frontend-list,
    .backend-list,
    .tools-list {
      width: $space-90vw;
      height: fit-content;
      padding: $space-20;
      .el-progress {
        width: $space-percent-100 !important;
      }
    }
  }
}
