@use '../../variables' as *;

/**
* ! Main Intro Banner Style !
* *  mobile *
*/
.main-intro {
  .main-title {
    width: $space-200;
    top: calc($space-100 + $space-40);
    right: $space-minus-50;
    font-size: 2em;
    line-height: $space-28;
  }
  .main-text-group {
    top: $space-100vw;
    width: $space-90vw;
    margin: $space-300 $space-10 0;
    justify-content: center;
    padding: 0 $space-10;
    background-color: unset;
    .text {
      @include headline7;
      font-size: calc($space-12 + $space-2);
      &:last-child {
        margin-top: $space-10;
      }
    }
  }
  .main-banner {
    .banner {
      width: auto;
      height: $space-200vw;
    }
  }
}