@use '../../variables' as *;

/**
* ! Main Portfolio Style !
* *  Desktop *
*/
.main-portfolio {
  .section-title {
    margin-left: $space-60;
  }
  .section-text-group {
    margin-left: $space-60;
    padding-bottom: $space-4;
  }
  .portfolio-list > .portfolio-item > .portfolio-thumb {
    width: calc($space-200 + $space-60);
    height: calc($space-200 + $space-60);
  }
  .portfolio-text {
    @include headline6;
  }
}