@use '../../variables' as *;

/**
* ! Main Skills Style !
* *  Desktop *
*/
.main-skills {
  .skills-descriptions {
    width: fit-content;
    margin-right: calc($space-60 + $space-8);
    .skills-title {
      @include headline3;
      text-align: right;
    }
    .skills-text {
      @include headline6;
      text-align: right;
    }
    .skills-title-box {
      top: $space-minus-50;
      left: 0;
      width: calc($space-400 + $space-24);
      height: calc($space-400 + $space-24);
    }
  }
  .skill-list {
    .skills-text {
      @include headline5;
    }
    .frontend-list,
    .backend-list,
    .tools-list {
      width: fit-content;
      height: fit-content;
      padding: $space-30;
    }
  }
}
