@use '../../variables' as *;

/**
* ! Main Resume Style !
* *  Desktop *
*/
.main-resume {
  margin: calc($space-100 + $space-20) auto $space-200;
  .resume-container {
    .resume-title {
      @include headline5;
      text-align: center;
      &:last-child {
        @include headline6;
        text-align: center;
      }
    }
    .educate-group,
    .career-group {
      .icon {
        width: $space-20;
        height: $space-20;
        color: var(--d-text-color);
      }
      .text {
        @include headline6;
      }
    }
    .career-group {
      margin-top: $space-8;
    }
  }
}