@use '../../variables' as *;

/**
* ! Color Translate Page Style !
*a
* ? Mobile ?
*/
.color-translate {
  flex-direction: column;
  height: fit-content;
  .color-picker-group {
    margin-top: $space-100;
    width: $space-80vw;
    .eye-dropper {
      span {
        padding-left: $space-4;
      }
    }
  }
  .color-translate-form {
    width: $space-80vw;
    margin: $space-20 0;
  }
  .upload-drag-files {
    width: $space-80vw;
    .image-preview {
      width: $space-percent-80;
      height: $space-160;
    }
  }
}