/**
* ? Color Lists ?
/*

/**
* ? Border Color ?
*/
$pwa-border: #8885;

/**
* ? Default Color ?
*/
$d-bg-origin-light: hsla(0deg 0% 90.2% / 100%);
$d-bg-origin-dark: hsla(0deg 0% 0% / 100%);
$d-bg-sub-origin-light: hsla(0deg 0% 89.4% / 100%);
$d-bg-sub-origin-dark: hsla(0deg 0% 47.8% / 100%);

/**
* ? Variable Text Color Light List ?
*/
$d-red-color-light: hsla(359deg 33% 49%);
$d-yellow-color-light: hsla(41deg 55% 62%);
$d-green-color-light: hsla(152deg 15% 45%);
$d-blue-color-light: hsla(213deg 33% 42%);
$d-red-color-light-deep: hsla(359deg 50% 36%);
$d-yellow-color-light-deep: hsla(41deg 53% 52%);
$d-green-color-light-deep: hsla(153deg 21% 29%);
$d-blue-color-light-deep: hsla(215deg 50% 28%);

/**
* ? Variable Text Color Dark List ?
*/
$d-red-color-dark: hsla(359deg 36% 64%);
$d-yellow-color-dark: hsla(41deg 56% 74%);
$d-green-color-dark: hsla(152deg 15% 62%);
$d-blue-color-dark: hsla(210deg 29% 59%);
$d-red-color-dark-deep: hsla(358deg 40% 81%);
$d-yellow-color-dark-deep: hsla(41deg 59% 86%);
$d-green-color-dark-deep: hsla(152deg 19% 80%);
$d-blue-color-dark-deep: hsla(208deg 33% 78%);

/**
* ? Variable Background Color List ?
*/
$d-bg-color-light: hsla(289deg 15% 86%);
$d-bg-color-dark: hsla(338deg 16% 23%);
$d-bg-color-00: hsla(0deg 100% 100% / 100%);
$d-bg-color-00-opacity: hsla(0deg 100% 100% / 30%);
$d-bg-color-05: hsla(0deg 17% 95% / 100%);
$d-bg-color-05-opacity: hsla(0deg 17% 95% / 30%);
$d-bg-color-10: hsla(0deg 14% 90% / 100%);
$d-bg-color-10-opacity: hsla(0deg 14% 90% / 30%);
$d-bg-color-15: hsla(0deg 15% 86% / 100%);
$d-bg-color-20: hsla(0deg 15% 81% / 100%);
$d-bg-color-20-opacity: hsla(0deg 15% 81% / 50%);
$d-bg-color-30: hsla(357deg 13% 72% / 100%);
$d-bg-color-40: hsla(0deg 12% 63% / 100%);
$d-bg-color-50: hsla(358deg 11% 55% / 100%);
$d-bg-color-60: hsla(0deg 11% 46% / 100%);
$d-bg-color-70: hsla(0deg 13% 39% / 100%);
$d-bg-color-80: hsla(0deg 15% 31% / 100%);
$d-bg-color-80-opacity: hsla(0deg 15% 31% / 50%);
$d-bg-color-85: hsla(357deg 17% 23% / 100%);
$d-bg-color-90: hsla(0deg 20% 16% / 100%);
$d-bg-color-95: hsla(0deg 22% 9% / 100%);
$d-bg-color-100: hsla(0deg 23% 3% / 100%);

/**
* ? Variable Footer Color List ?
*/
$d-footer-color-light: hsla(150deg 18% 85%);
$d-footer-color-light-deep: hsla(150deg 18% 75%);
$d-footer-color-dark: hsla(154deg 13% 24%);
$d-footer-color-dark-deep: hsla(154deg 13% 28%);

/**
* ? Variable Color List #1 ?
*/
$d-color-01-light: hsla(0deg 93.1% 71.8%);
$d-color-01-light-opacity: hsla(0deg 93.1% 71.8% / 75%);
$d-color-01-light-deep: hsla(0deg 95.9% 80.8%);
$d-color-01-dark: hsla(0deg 75.3% 47.6%);
$d-color-01-dark-opacity: hsla(0deg 75.3% 47.6% / 75%);
$d-color-01-dark-deep: hsla(0deg 83.3% 39.8%);

/**
* ? Variable Color List #2 ?
*/
$d-color-02-light: hsla(10.1deg 91.2% 64.3%);
$d-color-02-light-opacity: hsla(10.1deg 91.2% 64.3% / 75%);
$d-color-02-light-deep: hsla(9.6deg 95.9% 80.8%);
$d-color-02-dark: hsla(10.2deg 75.9% 52.7%);
$d-color-02-dark-opacity: hsla(10.2deg 75.9% 52.7% / 75%);
$d-color-02-dark-deep: hsla(9.9deg 83.3% 39.8%);

/**
* ? Variable Color List #3 ?
*/
$d-color-03-light: hsla(30deg 91.2% 64.3%);
$d-color-03-light-opacity: hsla(30deg 91.2% 64.3% / 75%);
$d-color-03-light-deep: hsla(30deg 95.9% 80.8%);
$d-color-03-dark: hsla(30.2deg 75.9% 52.7%);
$d-color-03-dark-opacity: hsla(30.2deg 75.9% 52.7% / 75%);
$d-color-03-dark-deep: hsla(29.8deg 83.3% 39.8%);

/**
* ? Variable Color List #4 ?
*/
$d-color-04-light: hsla(44.8deg 91.2% 64.3%);
$d-color-04-light-opacity: hsla(44.8deg 91.2% 64.3% / 75%);
$d-color-04-light-deep: hsla(44.7deg 95.9% 80.8%);
$d-color-04-dark: hsla(44.9deg 75.9% 52.7%);
$d-color-04-dark-opacity: hsla(44.9deg 75.9% 52.7% / 75%);
$d-color-04-dark-deep: hsla(45.1deg 83.3% 39.8%);

/**
* ? Variable Color List #5 ?
*/
$d-color-05-light: hsla(60deg 91.2% 64.3%);
$d-color-05-light-opacity: hsla(60deg 91.2% 64.3% / 75%);
$d-color-05-light-deep: hsla(60deg 95.9% 80.8%);
$d-color-05-dark: hsla(60deg 75.9% 52.7%);
$d-color-05-dark-opacity: hsla(60deg 75.9% 52.7% / 75%);
$d-color-05-dark-deep: hsla(60deg 83.3% 39.8%);

/**
* ? Variable Color List #6 ?
*/
$d-color-06-light: hsla(79.9deg 91.2% 64.3%);
$d-color-06-light-opacity: hsla(79.9deg 91.2% 64.3% / 75%);
$d-color-06-light-deep: hsla(80.4deg 95.9% 80.8%);
$d-color-06-dark: hsla(80deg 75.9% 52.7%);
$d-color-06-dark-opacity: hsla(80deg 75.9% 52.7% / 75%);
$d-color-06-dark-deep: hsla(79.9deg 83.3% 39.8%);

/**
* ? Variable Color List #7 ?
*/
$d-color-07-light: hsla(109.9deg 91.2% 64.3%);
$d-color-07-light-opacity: hsla(109.9deg 91.2% 64.3% / 75%);
$d-color-07-light-deep: hsla(110.4deg 95.9% 80.8%);
$d-color-07-dark: hsla(109.8deg 75.9% 52.7%);
$d-color-07-dark-opacity: hsla(109.8deg 75.9% 52.7% / 75%);
$d-color-07-dark-deep: hsla(110.1deg 83.3% 39.8%);

/**
* ? Variable Color List #8 ?
*/
$d-color-08-light: hsla(140.2deg 91.2% 64.3%);
$d-color-08-light-opacity: hsla(140.2deg 91.2% 64.3% / 75%);
$d-color-08-light-deep: hsla(139.8deg 95.9% 80.8%);
$d-color-08-dark: hsla(140deg 75.9% 52.7%);
$d-color-08-dark-opacity: hsla(140deg 75.9% 52.7% / 75%);
$d-color-08-dark-deep: hsla(139.9deg 83.3% 39.8%);

/**
* ? Variable Color List #9 ?
*/
$d-color-09-light: hsla(160.1deg 91.2% 64.3%);
$d-color-09-light-opacity: hsla(160.1deg 91.2% 64.3% / 75%);
$d-color-09-light-deep: hsla(159.6deg 95.9% 80.8%);
$d-color-09-dark: hsla(160deg 75.9% 52.7%);
$d-color-09-dark-opacity: hsla(160deg 75.9% 52.7% / 75%);
$d-color-09-dark-deep: hsla(160.1deg 83.3% 39.8%);

/**
* ? Variable Color List #10 ?
*/
$d-color-10-light: hsla(180deg 91.2% 64.3%);
$d-color-10-light-opacity: hsla(180deg 91.2% 64.3% / 75%);
$d-color-10-light-deep: hsla(180deg 95.9% 80.8%);
$d-color-10-dark: hsla(180deg 75.9% 52.7%);
$d-color-10-dark-opacity: hsla(180deg 75.9% 52.7% / 75%);
$d-color-10-dark-deep: hsla(180deg 83.3% 39.8%);

/**
* ? Variable Color List #11 ?
*/
$d-color-11-light: hsla(199.9deg 91.2% 64.3%);
$d-color-11-light-deep: hsla(200.4deg 95.9% 80.8%);
$d-color-11-dark: hsla(200deg 75.9% 52.7%);
$d-color-11-dark-deep: hsla(199.9deg 83.3% 39.8%);

/**
* ? Variable Color List #12 ?
*/
$d-color-12-light: hsla(219.8deg 91.2% 64.3%);
$d-color-12-light-deep: hsla(220.2deg 95.9% 80.8%);
$d-color-12-dark: hsla(220deg 75.9% 52.7%);
$d-color-12-dark-deep: hsla(220.1deg 83.3% 39.8%);

/**
* ? Variable Color List #13 ?
*/
$d-color-13-light: hsla(240deg 91.2% 64.3%);
$d-color-13-light-deep: hsla(240deg 95.9% 80.8%);
$d-color-13-dark: hsla(240deg 75.9% 52.7%);
$d-color-13-dark-deep: hsla(240deg 83.3% 39.8%);

/**
* ? Variable Color List #14 ?
*/
$d-color-14-light: hsla(260.2deg 91.2% 64.3%);
$d-color-14-light-deep: hsla(259.8deg 95.9% 80.8%);
$d-color-14-dark: hsla(260deg 75.9% 52.7%);
$d-color-14-dark-deep: hsla(259.9deg 83.3% 39.8%);

/**
* ? Variable Color List #15 ?
*/
$d-color-15-light: hsla(280.1deg 91.2% 64.3%);
$d-color-15-light-deep: hsla(279.6deg 95.9% 80.8%);
$d-color-15-dark: hsla(280deg 75.9% 52.7%);
$d-color-15-dark-deep: hsla(280.1deg 83.3% 39.8%);

/**
* ? Variable Color List #16 ?
*/
$d-color-16-light: hsla(300deg 91.2% 64.3%);
$d-color-16-light-deep: hsla(300deg 95.9% 80.8%);
$d-color-16-dark: hsla(300deg 75.9% 52.7%);
$d-color-16-dark-deep: hsla(300deg 83.3% 39.8%);

/**
* ? Variable Color List #17 ?
*/
$d-color-17-light: hsla(319.9deg 91.2% 64.3%);
$d-color-17-light-deep: hsla(320.4deg 95.9% 80.8%);
$d-color-17-dark: hsla(320deg 75.9% 52.7%);
$d-color-17-dark-deep: hsla(319.9deg 83.3% 39.8%);

/**
* ? Variable Color List #18 ?
*/
$d-color-18-light: hsla(339.8deg 91.2% 64.3%);
$d-color-18-light-deep: hsla(340.2deg 95.9% 80.8%);
$d-color-18-dark: hsla(340deg 75.9% 52.7%);
$d-color-18-dark-deep: hsla(340.1deg 83.3% 39.8%);

/**
* ? Variable Color List #19 ?
*/
$d-color-19-light: hsla(0deg 91.2% 64.3%);
$d-color-19-light-deep: hsla(0deg 95.9% 80.8%);
$d-color-19-dark: hsla(0deg 75.9% 52.7%);
$d-color-19-dark-deep: hsla(0deg 83.3% 39.8%);

:root {
  --d-bg-main-color: #{$d-bg-color-05};
  --d-bg-white-color: #{$d-bg-color-15};
  --d-bg-sub-color: #{$d-bg-color-15};
  --d-bg-side-color: #{$d-bg-color-light};
  --d-bg-sub-origin-color: #{$d-bg-sub-origin-light};
  --d-bg-red-color: #{$d-red-color-dark};
  --d-bg-red-color-deep: #{$d-red-color-dark-deep};
  --d-bg-yellow-color: #{$d-yellow-color-dark};
  --d-bg-yellow-color-deep: #{$d-yellow-color-dark-deep};
  --d-bg-green-color: #{$d-green-color-dark};
  --d-bg-green-color-deep: #{$d-green-color-dark-deep};
  --d-bg-blue-color: #{$d-blue-color-dark};
  --d-bg-blue-color-deep: #{$d-blue-color-dark-deep};

/**
* * Lists *
*/
  --d-header-bg-color: #{$d-bg-color-10-opacity};
  --d-content-bg-color: #{$d-bg-color-20-opacity};
  --d-footer-bg-color: #{$d-footer-color-light};
  --d-footer-bg-color-deep: #{$d-footer-color-light-deep};
  --d-text-color: #{$d-bg-color-90};
  --d-text-dark-color: #{$d-bg-color-70};
  --d-text-dark-color-deep: #{$d-bg-color-90};
  --d-text-color-deep: #{$d-bg-color-70};

/**
* * Lists *
*/
  --d-red-color: #{$d-red-color-light};
  --d-red-color-deep: #{$d-red-color-light-deep};
  --d-yellow-color: #{$d-yellow-color-light};
  --d-yellow-color-deep: #{$d-yellow-color-light-deep};
  --d-green-color: #{$d-green-color-light};
  --d-green-color-deep: #{$d-green-color-light-deep};
  --d-blue-color: #{$d-blue-color-light};
  --d-blue-color-deep: #{$d-blue-color-light-deep};

/**
* * Lists *
*/
  --d-color-01: #{$d-color-01-light};
  --d-color-02: #{$d-color-02-light};
  --d-color-03: #{$d-color-03-light};
  --d-color-04: #{$d-color-04-light};
  --d-color-05: #{$d-color-05-light};
  --d-color-06: #{$d-color-06-light};
  --d-color-07: #{$d-color-07-light};
  --d-color-08: #{$d-color-08-light};
  --d-color-09: #{$d-color-09-light};
  --d-color-10: #{$d-color-10-light};
  --d-color-11: #{$d-color-11-light};
  --d-color-12: #{$d-color-12-light};
  --d-color-13: #{$d-color-13-light};
  --d-color-14: #{$d-color-14-light};
  --d-color-15: #{$d-color-15-light};
  --d-color-16: #{$d-color-16-light};
  --d-color-17: #{$d-color-17-light};
  --d-color-18: #{$d-color-18-light};
  --d-color-19: #{$d-color-19-light};

/**
* * Lists *
*/
  --d-color-01-deep: #{$d-color-01-light-deep};
  --d-color-02-deep: #{$d-color-02-light-deep};
  --d-color-03-deep: #{$d-color-03-light-deep};
  --d-color-04-deep: #{$d-color-04-light-deep};
  --d-color-05-deep: #{$d-color-05-light-deep};
  --d-color-06-deep: #{$d-color-06-light-deep};
  --d-color-07-deep: #{$d-color-07-light-deep};
  --d-color-08-deep: #{$d-color-08-light-deep};
  --d-color-09-deep: #{$d-color-09-light-deep};
  --d-color-10-deep: #{$d-color-10-light-deep};
  --d-color-11-deep: #{$d-color-11-light-deep};
  --d-color-12-deep: #{$d-color-12-light-deep};
  --d-color-13-deep: #{$d-color-13-light-deep};
  --d-color-14-deep: #{$d-color-14-light-deep};
  --d-color-15-deep: #{$d-color-15-light-deep};
  --d-color-16-deep: #{$d-color-16-light-deep};
  --d-color-17-deep: #{$d-color-17-light-deep};
  --d-color-18-deep: #{$d-color-18-light-deep};
  --d-color-19-deep: #{$d-color-19-light-deep};

/**
* * Lists *
*/
  --d-color-01-opacity: #{$d-color-01-light-opacity};
  --d-color-02-opacity: #{$d-color-02-light-opacity};
  --d-color-03-opacity: #{$d-color-03-light-opacity};
  --d-color-04-opacity: #{$d-color-04-light-opacity};
  --d-color-05-opacity: #{$d-color-05-light-opacity};
  --d-color-06-opacity: #{$d-color-06-light-opacity};
  --d-color-07-opacity: #{$d-color-07-light-opacity};
  --d-color-08-opacity: #{$d-color-08-light-opacity};
  --d-color-09-opacity: #{$d-color-09-light-opacity};
  --d-color-10-opacity: #{$d-color-10-light-opacity};
}

html.dark {
  --d-bg-main-color: #{$d-bg-color-95};
  --d-bg-white-color: #{$d-bg-color-05};
  --d-bg-sub-color: #{$d-bg-color-85};
  --d-bg-side-color: #{$d-bg-color-dark};
  --d-bg-sub-origin-color: #{$d-bg-sub-origin-dark};
  --d-bg-red-color: #{$d-red-color-light};
  --d-bg-red-color-deep: #{$d-red-color-light-deep};
  --d-bg-yellow-color: #{$d-yellow-color-light};
  --d-bg-yellow-color-deep: #{$d-yellow-color-light-deep};
  --d-bg-green-color: #{$d-green-color-light};
  --d-bg-green-color-deep: #{$d-green-color-light-deep};
  --d-bg-blue-color: #{$d-blue-color-light};
  --d-bg-blue-color-deep: #{$d-blue-color-light-deep};

/**
* * Lists *
*/
  --d-header-bg-color: #{$d-bg-color-00-opacity};
  --d-content-bg-color: #{$d-bg-color-80-opacity};
  --d-footer-bg-color: #{$d-footer-color-dark};
  --d-footer-bg-color-deep: #{$d-footer-color-dark-deep};
  --d-text-color: #{$d-bg-color-10};
  --d-text-dark-color: #{$d-bg-color-90};
  --d-text-dark-color-deep: #{$d-bg-color-100};
  --d-text-color-deep: #{$d-bg-color-30};

/**
* * Lists *
*/
  --d-red-color: #{$d-red-color-dark};
  --d-red-color-deep: #{$d-red-color-dark-deep};
  --d-yellow-color: #{$d-yellow-color-dark};
  --d-yellow-color-deep: #{$d-yellow-color-dark-deep};
  --d-green-color: #{$d-green-color-dark};
  --d-green-color-deep: #{$d-green-color-dark-deep};
  --d-blue-color: #{$d-blue-color-dark};
  --d-blue-color-deep: #{$d-blue-color-dark-deep};

/**
* * Lists *
*/
  --d-color-01: #{$d-color-01-dark};
  --d-color-02: #{$d-color-02-dark};
  --d-color-03: #{$d-color-03-dark};
  --d-color-04: #{$d-color-04-dark};
  --d-color-05: #{$d-color-05-dark};
  --d-color-06: #{$d-color-06-dark};
  --d-color-07: #{$d-color-07-dark};
  --d-color-08: #{$d-color-08-dark};
  --d-color-09: #{$d-color-09-dark};
  --d-color-10: #{$d-color-10-dark};
  --d-color-11: #{$d-color-11-dark};
  --d-color-12: #{$d-color-12-dark};
  --d-color-13: #{$d-color-13-dark};
  --d-color-14: #{$d-color-14-dark};
  --d-color-15: #{$d-color-15-dark};
  --d-color-16: #{$d-color-16-dark};
  --d-color-17: #{$d-color-17-dark};
  --d-color-18: #{$d-color-18-dark};
  --d-color-19: #{$d-color-19-dark};

/**
* * Lists *
*/
  --d-color-01-deep: #{$d-color-01-dark-deep};
  --d-color-02-deep: #{$d-color-02-dark-deep};
  --d-color-03-deep: #{$d-color-03-dark-deep};
  --d-color-04-deep: #{$d-color-04-dark-deep};
  --d-color-05-deep: #{$d-color-05-dark-deep};
  --d-color-06-deep: #{$d-color-06-dark-deep};
  --d-color-07-deep: #{$d-color-07-dark-deep};
  --d-color-08-deep: #{$d-color-08-dark-deep};
  --d-color-09-deep: #{$d-color-09-dark-deep};
  --d-color-10-deep: #{$d-color-10-dark-deep};
  --d-color-11-deep: #{$d-color-11-dark-deep};
  --d-color-12-deep: #{$d-color-12-dark-deep};
  --d-color-13-deep: #{$d-color-13-dark-deep};
  --d-color-14-deep: #{$d-color-14-dark-deep};
  --d-color-15-deep: #{$d-color-15-dark-deep};
  --d-color-16-deep: #{$d-color-16-dark-deep};
  --d-color-17-deep: #{$d-color-17-dark-deep};
  --d-color-18-deep: #{$d-color-18-dark-deep};
  --d-color-19-deep: #{$d-color-19-dark-deep};

/**
* * Lists *
*/
  --d-color-01-opacity: #{$d-color-01-dark-opacity};
  --d-color-02-opacity: #{$d-color-02-dark-opacity};
  --d-color-03-opacity: #{$d-color-03-dark-opacity};
  --d-color-04-opacity: #{$d-color-04-dark-opacity};
  --d-color-05-opacity: #{$d-color-05-dark-opacity};
  --d-color-06-opacity: #{$d-color-06-dark-opacity};
  --d-color-07-opacity: #{$d-color-07-dark-opacity};
  --d-color-08-opacity: #{$d-color-08-dark-opacity};
  --d-color-09-opacity: #{$d-color-09-dark-opacity};
  --d-color-10-opacity: #{$d-color-10-dark-opacity};
}