/**
* ? Size Lists ?
*
* ? Device ?
*/
$breakpoint-mobile: 500px;
$breakpoint-desktop: 1000px;

/**
* ? Space Pixel ?
*/
$space-1: 1px;
$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-30: 30px;
$space-32: 32px;
$space-36: 36px;
$space-40: 40px;
$space-48: 48px;
$space-50: 50px;
$space-60: 60px;
$space-64: 64px;
$space-80: 80px;
$space-100: 100px;
$space-160: 160px;
$space-180: 180px;
$space-200: 200px;
$space-300: 300px;
$space-500: 500px;
$space-600: 600px;
$space-700: 700px;
$space-1000: 1000px;

$space-minus-50: -50px;
$space-minus-100: -100px;
$space-minus-160: -160px;

/**
* ? Space Ratio ?
*/
$space-20vh: 20vh;
$space-50vh: 50vh;
$space-70vh: 70vh;
$space-100vh: 100vh;
$space-50vw: 50vw;
$space-60vw: 60vw;
$space-80vw: 80vw;
$space-100vw: 100vw;

/**
* ? Space Percent ?
*/
$space-percent-5: 5%;
$space-percent-50: 50%;
$space-percent-80: 80%;
$space-percent-100: 100%;
