@use '../../variables' as *;

/**
* ! Header Style !
* *  Tablet *
*/
.header {
  height: $space-60;
  .header-container {
    width: $space-100vw;
    height: fit-content;
    padding: $space-20;
    .logo {
      width: $space-100;
      height: auto;
    }
    .github {
      width: $space-24;
      height: auto;
      transition: all .1s ease-in-out;
      &:hover {
        scale: 1.1;
      }
    }
  }
  .forecast {
    top: calc($space-60 + $space-10);
    left: $space-10;
  }
}