@use '../../variables' as *;

/**
* ! Main Intro Banner Style !
* *  Tablet *
*/
.main-intro {
  .main-title {
    width: calc($space-300 + $space-60);
    top: $space-200;
    right: $space-minus-100;
    font-size: 3.5em;
    line-height: $space-50;
  }
  .main-text-group {
    top: calc($space-200 + $space-60);
    left: $space-percent-5;
    width: fit-content;
    padding: $space-20;
    height: calc($space-100 + $space-30);
    .text {
      @include headline5;
      &:last-child {
        margin-top: $space-10;
        @include headline7;
      }
    }
  }
  .main-banner {
    .banner {
      width: auto;
      height: $space-100vw;
    }
  }
}