@use '../../variables' as *;

/**
* ! Main Resume Style !
* *  Tablet *
*/
.main-resume {
  margin: calc($space-200 + $space-20) auto $space-200;
  .resume-container {
    flex-direction: column;
    align-items: center;
    padding: $space-20 0;
    .resume-image {
      width: $space-60vw;
      height: auto;
      margin: $space-20 auto;
    }
    .resume-title {
      @include headline2;
    }
    .accordion {
      padding: $space-30;
      .educate-group,
      .career-group {
        .icon {
          width: $space-20;
          height: $space-20;
          color: var(--d-text-color);
        }
        .text {
          @include headline6;
        }
      }
      .career-group {
        margin-top: $space-8;
      }
    }
  }
}