@use '../../variables' as *;

/**
* ! Main Skills Style !
* *  Tablet *
*/
.main-skills {
  .skills-descriptions {
    padding-top: $space-20;
    width: fit-content;
    .skills-title {
      @include headline3;
      text-align: right;
    }
    .skills-text {
      padding-right: $space-80;
      @include headline6;
        text-align: right;
    }
    .skills-title-box {
      top: $space-minus-50;
      right: 0;
      width: $space-500;
      height: $space-500; 
    }
  }
  .skill-list {
    flex-direction: column;
    width: $space-percent-100;
    .main-skill-list {
      flex-direction: column;
      width: $space-percent-100;
    }
    .skills-text {
      width: $space-160;
      @include headline5;
    }
    .frontend-list,
    .backend-list,
    .tools-list {
      width: $space-90vw;
      height: fit-content;
      padding: $space-30;
      .el-progress {
        width: $space-percent-100 !important;
      }
    }
  }
}