@use '../../variables' as *;

/**
* ! Header Style !
* *  Mobile *
*/
.header {
  height: $space-60;
  .header-container {
    width: $space-100vw;
    height: fit-content;
    padding: $space-10;
    .logo {
      width: $space-100;
      height: auto;
    }
  }
  .forecast {
    top: calc($space-60 + $space-10);
    left: $space-10;
  }
}