@use '../../variables' as *;

/**
* ! Color Translate Page Style !
*a
* ? Desktop ?
*/
.color-translate {
  height: $space-80vh;
  .color-picker-group {
    width: $space-400;
  }
  .color-translate-form {
    width: $space-400;
  }
  .upload-drag-files {
    width: $space-400;
    .image-preview {
      width: $space-300;
      height: $space-200;
    }
  }
}