@use '../../variables' as *;

/**
* ! Main Page Style !
*a
* ? Shared ?
*/
.main {
  overflow: hidden;
  .scroll-down {
    position: absolute;
    width: $space-percent-100;
    text-align-last: center;
    bottom: $space-10;
    @include headline6;
    z-index: 10;
    opacity: 0;
    transition: opacity .75s;
    animation: motion .5s ease-in .5s infinite alternate;
    @keyframes motion {
      0% { margin-bottom: 0; }
      100% { margin-bottom: $space-10; }
    }
  }
}