@use '../../variables' as *;

/**
* ! Projects Page Style !
*a
* ? Shared ?
*/
.projects {
  position: relative;
  max-width: $space-800;
  height: $space-80vh;
  margin: 0 auto;
  overflow: auto;
  .project-list {
    text-decoration: none;
    padding: $space-16;
    border-radius: $space-16;
    border: $space-2 solid var(--d-bg-blue-color-deep);
    transition: border .5s;
    cursor: pointer;
    &:hover, &:focus {
      border: $space-2 solid var(--d-bg-red-color-deep);
    }
  }
}