@use '../../variables' as *;

/**
* ! Projects Page Style !
*a
* ? Shared ?
*/
.projects {
  position: relative;
  max-width: $space-800;
  height: $space-100vh;
  margin: 0 auto;
  overflow: clip;
  .project-list {
    text-decoration: none;
    padding: $space-16;
    border-radius: $space-16;
    cursor: pointer;
  }
}