@use '../../variables' as *;

/**
* ! Tech Blog List Page Style !
*a
* ? Shared ?
*/
.tech-lists {
  position: relative;
  width: $space-100vw;
  overflow: clip;
  .write-button-container {
    width: $space-80vw;
    max-width: $space-1000;
    margin-top: $space-100;
    overflow-y: clip;
  }
  .tech-card {
    max-height: $space-60vh;
    width: $space-80vw;
    max-width: $space-1000;
    cursor: pointer;
    .title {
      @include headline4;
    }
    .tech-add-on {
      .time {
        @include headline6;
        color : var(--d-green-color);
      }
    }
    .desc {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: clip;
      @include headline6;
    }
  }
  .tech-pagination {
    height: $space-60;
  }
}